*{margin: 0px; padding: 0px;}
ul{list-style: none;} /* 머릿말 제거 */
a{text-decoration: none;} /* 링크 걸어놓은 곳 밑줄 제거 */
li{list-style: none;}
a:visited {color: rgb(255, 255, 255);}
a:link {color: rgb(255, 255, 255);}

header {
    width: 100%;
    position: relative;  
}

#logo {
    width: 100%;
    height: 350px;
    z-index: 1;
}

#logo a {
    color: black;
    font-size: 60px;
    text-align: center;
    line-height: 320px;
    font-family: 'Satisfy', cursive;
}

#logo::after {
    width: 100%;
    height: 350px;
    content: "";
    background: url("img/ddd.jpg");
    background-size: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.9;
}

#topMenu {
    background-color: rgb(255, 47, 134);
    width: 1225px;
    height: 190px;
    color: rgb(255, 255, 255);
    float: left;/* 왼쪽으로 나열되도록 설정 */ 
    vertical-align: middle; /* 세로 정렬을 가운데로 설정 */ 
    text-align: center; /* 텍스트를 가운데로 정렬 */ 
    position: absolute; /* 해당 li 태그 내부의 top/left 포지션 초기화 */ 
    font-size: 22px;
    z-index: 2;
    padding-left: 38px;
    padding-top: 45px;
    font-family: "Trebuchet MS",'Hahmlet';
    font-weight: bold;
}

#topMenu ul { /* 메인 메뉴 안의 ul을 설정함: 상위메뉴의 ul+하위 메뉴의 ul */ 
    list-style-type: none; 
    margin: 0px; 
    padding: 0px; 
}

#topMenu ul { 
    margin: 0;
    padding: 0;
    list-style: none;
}

#topMenu li {
    float: left;
}

#topMenu > ul > li > a {
    display:inline-block; 
    padding:18px 0 20px 0; 
    width:250px; 
    background:#d0d0d0; 
    text-align:center; 
    font-weight:bold; 
    font-size:16px; 
    color:#000;
}

#topMenu li ul li a {
    display:inline-block; 
    padding-top: 15px;
    padding-left: 10px; 
    padding-right: 10px;
    font-size:18px; 
    color:#fff;
}

#topMenu li ul li a:hover {
    color:#000
}

.topMenuLi:hover .menuLink { /* 상위 메뉴의 li에 마우스오버 되었을 때 스타일 설정 */ 
    color: rgb(0, 0, 0); /* 글씨 색 회색 */ 
} 

#topMenu li ul .submenu { 
    display:none; 
    position:absolute; 
    left:80px; 
    bottom:-6px; 
}

#topMenu li ul .submenu1 {
    display:none; 
    position:absolute; 
    margin-top: 100px;
}

#topMenu > ul> li:hover > ul {
    display:block;
}

.topMenuLi {
    display: inline-block;
    float: left;
    text-align: center; /* 텍스트를 가운데로 정렬 */ 
    margin: 40px;
    padding-left: 5px;
}

#content {
    display: flex;
    justify-content: center;
}

.content1 {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(150, 150, 150, 0.801);
    border-radius:3px;
    margin: 1%;
    padding-top: 60px;
    padding: 27px;
    height: 530px;
    float: left;
    box-sizing: border-box;
    width: 370px;
    text-align: start;
    font-family: "Trebuchet MS",'Hahmlet';
}

.content2 {
    background-color: rgb(255, 255, 255);
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 22px;
    padding: 11px;
    height: 530px;
    float: left;
    box-sizing: border-box;
    width: 500px;
    text-align: start;
    font-family: "Trebuchet MS",'Hahmlet';
}

.content3 {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(150, 150, 150, 0.801);
    border-radius:3px;
    margin: 1%;
    padding-top: 60px;
    padding: 27px;
    height: 530px;
    float: left;
    box-sizing: border-box;
    width: 300px;
    text-align: start;
    font-family: "Trebuchet MS",'Hahmlet';
}

.content3 a {
    color: inherit;
}

.quiz, .blog {
    font-family: "Trebuchet MS";
    text-align: start;
    font-size: 35px; 
    margin-bottom: 10px;
    text-shadow: 2px 2px 2px gray;
}

#submit {
    margin-top: 15px;
    padding: 5px;
    margin-right: -4px;
    border-radius:1px; 
    width: 100px;
    color:rgb(0, 0, 0);
    border: 1px solid rgb(112, 126, 250); 
    background-color: rgba(0,0,0,0); 
    color: rgb(122, 113, 247); 
}

#submit:hover { 
    color:white; 
    background-color: rgba(179, 151, 255, 0.575); 
}

footer {
    font-family: "Trebuchet MS",'Hahmlet';
    margin: 15px;
    margin-left: 30px;
    color: darkgray;
}

.address {
    margin-bottom: 20px;
    margin-right: 10px;
    line-height: 40px;
    list-style: square;

}

.line1 {
    color: black;
}

.indeximg {
    margin-top: -10.5px;
    opacity: 0.8;
    z-index: 1;
}

.introduce {
    margin-top: 3px;
}

.text {
    margin-bottom: 10px;
    font-size: 15px;
}

.text1 {
    margin-bottom: 2px;
    font-size: 15px;
}

main {
    margin-top: 250px;
}
